*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box
}

/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */
.pricing-tables {
    font-family: sans-serif;
    width: 100%;
    max-width: 75rem;
	margin: 0 auto;
    margin-bottom: 3.125em;
    text-align: center;
}

.pricing-tables:after {
    content: "";
    display: table;
    clear: both;
}

/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */
.pricing-table-wrap {
    float: left;
    position: relative;
    padding: 0.65em;
    width: 100%;
}

.pricing-table {
    margin: 0 0.5em 2em;
	border-radius: 4px 4px 6px 6px;
	-moz-border-radius: 4px 4px 6px 6px;
	-webkit-border-radius: 4px 4px 6px 6px;
    border: 1px solid #ddd;
    padding: 0;
}

/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */
.pricing-table-basic .pricing-table-header {
    background: #019875;
}

.pricing-table-pro .pricing-table-header {
    background: #3A539B;
}

.pricing-table-biz .pricing-table-header {
    background: #663399;
}

/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */
.pricing-table-header {
	padding: 1.5em 0;
    background: #019875;
    color: #F2F1EF;
    border-radius: 4px 4px 0 0;
}
.pricing-table-header h2 {
    margin: 0 0 0.4em 0;
    font-size: 1.2em;
    font-weight: normal;
    color: #F3F2FF;
}


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */
.pricing-table-price {
    margin: 0;
}

.pricing-table-price span.currency,
.pricing-table-price span.value,
.pricing-table-price span.duration {
	color: #F2F1EF;
}

.pricing-table-price span.currency {
	display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    vertical-align: top;
    color: #BFBFBF;
    margin-right: 3px;
}

.pricing-table-price span.value {
	font-size: 3rem;
	font-weight: 300;
}

.pricing-table-price span.duration::before {
	content: "/";
	margin-right: 2px;
}
.pricing-table-price span.duration {
	font-size: 0.7rem;
	color: #BFBFBF;
}



/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */
.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */
.pricing-table-list li {
	font-size: 0.9em;
    padding: 0.8em 0;
    background: #F7F7F7;
    border-bottom: 1px solid #E7E7E7;
}
.pricing-table-list li:nth-of-type(2n+1) {
	background-color: #EEEEEE; 
}
.pricing-table-list em {
	font-weight: bold;
	font-style: normal;
}


/*
 * -- PRICING TABLE FOOTER --
 */
.pricing-table footer {
	background-color: #E97D68;
	border-radius: 0 0 6px 6px;
	-moz-border-radius: 0 0 6px 6px;
	-webkit-border-radius: 0 0 6px 6px;
}
.pricing-table footer a {
    font-size: 1.2em;
    text-decoration: none;
    display: block;
	color: #F2F1EF;
    padding: 1.3em 0;
}

.pricing-table footer:hover {
    background-color: #FA8E79;
}
.pricing-table footer a:hover {
    color: #F3F2FF;
}

@media screen and (min-width: 50em) {
    .pricing-table-wrap {
        width: 33.3333333333%;
    }
}